<style>
@font-face { font-family: 'SuperGroteskA-Bd'; src: url('/supergroteska-bd.TTF'); }
</style>
<div>
<h1 align="middle" style="font-family: 'SuperGroteskA-Bd';font-size:1.8em;">OUR&nbsp;{{{markers.length}}}&nbsp;AUTHORIZED RADIANT COLORS &copy; DEALERS</h1>
</div>
<div id="mapid" style="border-radius: 25px;width: 100%; height: 70vh; margin: 0; position: block;"></div>
<script>
var yo;
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(location){
  lat = location.coords.latitude;
  long = location.coords.longitude;
   mymap = L.map('mapid',{
     maxBounds:[ [-90, -160], [90, 200] ],
     minZoom: 2
   }).setView([lat,long], 4);
    yo = L.marker([lat,long]).bindPopup("You are here.");
   yo.addTo(mymap).openPopup();
displaydealers()
},showError)}

function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
    err =  "User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      err =  "Location information is unavailable."
      break;
    case error.TIMEOUT:
    err =  "The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      err =  "An unknown error occurred."
      break;
  }
   mymap = L.map('mapid',{
     maxBounds:[ [-90, -160], [90, 200] ],
     minZoom: 2
   }).setView([0,0], 2);
    yo =  L.marker([0,0]).bindPopup("Error while trying to get your location. "+err+". To solve this error, please enable your Geolocation and refresh the page.")
   yo.addTo(mymap).openPopup();
   displaydealers();
}

function displaydealers()
{
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
     minZoom: 2,
    maxZoom: 17,
    id: 'mapbox.streets'
  }).addTo(mymap);
  var myIcon = L.icon({
  iconUrl: 'images/rad.png',
  iconSize: [40, 50],
  iconAnchor: [20, 25],
  popupAnchor: [0,-25]});

  if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(showPosition);
 function showPosition(position) {
  return [position.coords.latitude,position.coords.longitude];
 }
}
var milatlong = yo.getLatLng();
  {{#each markers}}


  L.marker([{{{lat}}},{{{long}}}], {title: "{{{nombredealer}}}", icon: myIcon}).bindPopup("<div align='middle'><div align='middle'></div><b style='font-size: 2em;'>{{{nombredealer}}}</b><br>{{{pais}}}<br>{{#if direccion}}<b>Address: </b>{{{direccion}}}<br>{{/if}}{{#if telefono}}<b>Phone: </b>{{{telefono}}}{{/if}}{{#if pagweb}}<br><a target='_blank' href='{{{pagweb}}}'>Website</a>{{/if}}{{#if email}}<br><b><a href=mailto:{{{email}}}>Email</a></b>{{/if}}<br><b>You are "+milatlong.distanceTo([{{{lat}}},{{{long}}}]).toFixed(0)/1000+" kilometers away from here</b></div>").addTo(mymap);
  {{/each}}
}
</script>
